.DS_Store
.class
*/bin/*
projectlibre_build/build-override.properties
projectlibre_build/build/
projectlibre_build/dist/
projectlibre_build/packages/
projectlibre_contrib/build/
projectlibre_contrib/openproj-contrib.jar
projectlibre_contrib/openproj-reports.jar
projectlibre_contrib/openproj-script.jar
projectlibre_jcontrib/tmp/
