.DS_Store
.class
*/bin/*
openproj_build/build-override.properties
openproj_build/build/
openproj_build/dist/
openproj_build/packages/
openproj_contrib/build/
openproj_contrib/openproj-contrib.jar
openproj_contrib/openproj-reports.jar
openproj_contrib/openproj-script.jar
openproj_contrib/tmp/
