Package: projectlibre
Version: @version@-@deb_revision@
Priority: optional
Section: editors
Architecture: all
Installed-Size: 28352
Depends: openjdk-7-jre | openjdk-6-jre | openjdk-8-jre | sun-java6-jre | java7-runtime | java6-runtime | java8-runtime
Maintainer: Laurent Chretienneau <lchretienneau@projectlibre.org>
Description: A desktop replacement for Microsoft Project
 It is capable of sharing files with Microsoft Project and has very similar
 functionality (Gantt, PERT diagram, histogram, charts, reports, detailed
 usage), as well as tree views which aren't in MS Project.
