[Desktop Entry]
Name=ProjectLibre
GenericName=Project Management
GenericName[fr]=Gestion de projets
GenericName[ru]=Управление проектами
GenericName[af]=Projekbestuur
GenericName[am]=የዕቅድ ጉባኤ
GenericName[ar]=إدارة المشاريع
GenericName[sq]=Menaxhim Projektesh
GenericName[hy]=Նախագծերի կառավարում
GenericName[be]=Кіраваньне праектам
GenericName[eu]=Proiektu-kudeaketa
GenericName[ast]=Xestión de proyeutos
GenericName[bn]=প্রকল্প ব্যবস্থাপনা
GenericName[bs]=Upravljanje projektima
GenericName[bg]=Управление на проекти
GenericName[ca]=Gestió de projectes
GenericName[ca@valencia]=Gestió de projectes
GenericName[pt_BR]=Gestão de projeto
GenericName[zh_HK]=專案管理
GenericName[zh_TW]=專案管理
GenericName[zh_CN]=项目管理
GenericName[crh]=Proje Yönetimi
GenericName[hr]=Upravljanje projektima
GenericName[cs]=Správa projektů
GenericName[da]=Projekthåndtering
GenericName[nl]=Projectmanagement
GenericName[et]=Projektihaldus
GenericName[fi]=Projektinhallinta
GenericName[fr_CA]=Direction de projet
GenericName[gl]=Xestión de proxectos
GenericName[ka]=პროექტების მართვა
GenericName[de]=Projekt-Management
GenericName[gu]=પ્રોજેક્ટ વ્યવસ્થાપન
GenericName[el]=Διαχείριση έργων
GenericName[he]=ניהול פרוייקט
GenericName[hi]=प्रोजेक्ट प्रबंधन
GenericName[is]=Verkstjórnun
GenericName[id]=Manajemen Proyek
GenericName[hu]=Projektmenedzsment
GenericName[it]=Gestione progetti
GenericName[ja]=プロジェクト管理
GenericName[ky]=Долбоор башкаруу
GenericName[ko]=프로젝트 관리
GenericName[lt]=Projektų valdymas
GenericName[lv]=Projektu pārvaldība
GenericName[ml]=പദ്ധതിനിര്‍വ്വഹണം
GenericName[ms]=Manajemen Proyek
GenericName[mr]=प्रकल्प व्यवस्थापन
GenericName[ne]=परियोजना व्यवस्थापन
GenericName[nb]=Prosjektstyring
GenericName[oc]=Gestion de projèctes
GenericName[fa]=مدیریت پروژه
GenericName[pl]=Zarządzanie projektami
GenericName[ro]=Administrarea proiectelor
GenericName[pt]=Gestão de projetos
GenericName[sr]=Управљање пројектима
GenericName[sk]=Správca projektov
GenericName[sl]=Upravljanje projektov
GenericName[es]=Gestión de proyectos
GenericName[sv]=Projekthantering
GenericName[tg]=Идоракунии лоиҳаҳо
GenericName[ta]=திட்ட மேலாண்மை
GenericName[th]=การบริหารโครงการ
GenericName[tr]=Proje Yönetimi
GenericName[vi]=Quản lý dự án
GenericName[uk]=Управління 
Comment=Project scheduling and management
Comment[ru]=Планирование и управление проектами
Exec=projectlibre %F
Icon=projectlibre
Terminal=false
Type=Application
Categories=Office;ProjectManagement;
MimeType=application/x-projectlibre;
